<h1><%= t "titles.home_title" %></h1>
<p><%= t "text.hi" %> <%= @user.name %>,</p>
<p><%= t "text.email_text" %></p>
<%= link_to t("link.link_activate"), edit_account_activation_url(
  @user.activation_token, email: @user.email) %>
