<footer class="footer">
  <small>
    <%= link_to t("footer.footer_name"), Settings.ruby %>
    <%= link_to t("footer.author"), Settings.author %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("link.link_about"), about_path %></li>
      <li><%= link_to t("link.link_contact"), contact_path %></li>
      <li><%= link_to t("link.link_news"), '#' %></li>
    </ul>
  </nav>
</footer>
